@font-face {
  font-family: 'Georgia';
  src: url('~assets/fonts/Georgia/Georgia.woff2') format('woff2'),
  url('~assets/fonts/Georgia/Georgia.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
