@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/RotundaVariable-Regular.woff2') format('woff2'),
    url('~assets/fonts/Rotunda/RotundaVariable-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/RotundaVariable-RegularItalic.woff2') format('woff2'),
    url('~assets/fonts/Rotunda/RotundaVariable-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-Medium.woff2') format('woff2'),
    url('~assets/fonts/Rotunda/Rotunda-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-MediumItalic.woff2') format('woff2'),
    url('~assets/fonts/Rotunda/Rotunda-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-Bold.woff2') format('woff2'),
    url('~assets/fonts/Rotunda/Rotunda-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rotunda';
  src: url('~assets/fonts/Rotunda/Rotunda-BoldItalic.woff2') format('woff2'),
    url('~assets/fonts/Rotunda/Rotunda-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
